.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 60vh;
}

.title-error {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: #353535;
  margin-bottom: 12px;
  text-align: center;
}

.text-error {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #5e5e5e;
  text-align: center;
  margin-bottom: 24px;
}
